## EMACS
*~
\#*
.\#*

## VIM
*.swp

## Project Specific
GnuBackgammon-android/libs/GnuBackgammon.jar
tmp/
*apk
*class
GnuBackgammon-android/bin/
GnuBackgammon-android/gen/
GnuBackgammon-desktop/bin/
GnuBackgammon/bin/
Backgammon-android/bin/
Backgammon-android/gen/
*.log
